* {
  box-sizing: border-box;
}

body{
  background: #fff;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

h1  {
  color: white;
  padding-top: 25px;
  padding-bottom: 0;
  margin-bottom: 0;
}

header {
  text-align: center;
  background: url('photos/stars.png') no-repeat top center fixed;
  background-size: cover;
  background-repeat: none;
  overflow: hidden;
  padding-top: 60px;
  line-height: 1.5;
  min-height: 800px;
  max-width: 100%;
  height: auto;
  font-size: 3em;
  color: white;
}

.the {
  font-size: .33em;
  text-transform: capitalize;
}

header p {
  font-size: .75em;
  margin-top: none;
}

.button {
  font-size: .5em;
  text-decoration: none;
  color: black;
  background: #66A302;
  padding: 2px 6px 2px 6px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  opacity: .8;
}

/* Navigation -----*/

.main-nav {
  width:  100%;
  background: black;
  justify-content: space-around;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}

.nav  {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

/* Hyperlinks-----*/

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Introduction -----*/

.introduction {
  margin-left: 125px;
  margin-right: 125px;
  word-spacing: 2px;
  font-size: 1.5em;
  text-align: justify;
  text-align-last: center;
}

.intro {
  padding-top: 15px;
  margin-top: 0;
}

.intro h1 {
  color: black;
  text-decoration: underline;
  text-decoration-color: #989898;
}

.primary-section {
  padding: 20px 10px;
  margin: auto;
/* Not using for now
  background: linear-gradient(#1D6B00, transparent 90%),
              url("photos/stars.png");
  background-size: cover;
------*/
}

/* Body-----*/

.events,
.resources {
  width: 47.5%;
  padding: 10px;
  margin: 10px;
}

.events {
  float: left;
}

.resources {
  float: right;
}

.resources p,
.events p {
  padding: 0 30px 0;
}

.resources img,
.events img {
  max-width: 90%;
  border-radius: 15px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Footer -----*/

footer {
  width: 100%;
  background: black;
}

.social-media {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 10px solid black;
  margin-bottom: 0;
}

.social-media a{
  color: white;
}

/* Media Queries -----*/

@media (max-width: 820px) {
  .resources,
  .events,
  .introduction {
    width: 90%;
    float: unset;
    margin-right: auto;
    margin-left: auto;
  }
  .introduction {
    padding-bottom: 25px;
    margin: 0 auto;
  }
  .social-media {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
  }
}

/* Pseduo-Classes -----*/

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
